/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url('../images/cover-image-light.png');
  --color: #F1B2CE;
  --background-color: #000028;
  --color-text: #000028;
  --color-text-h2: #FF0070;
  --color-h1: #DB00FF;
  --accent-color: #FF0070;
}
