/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-image: url('../images/cover-image-light.png');
  --color: #353430;
  --background-color: #FFF1F7;
  --color-text: #353430;
  --color-text-h2: #353430;
  --color-h1: #FFC2E6;
  --accent-color: #FF8DCB;
  --color-outline-transparent: rgb(53, 52, 48, 0.4);

  .page {
    background-image: url('../images/cover-image-light.png');;
  }

  .rec {
    display: none;
  }

  .dot {
    display: none;
  }
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
