/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color: #F1B2CE;
  --background-color: #000028;
  --color-text: #000028;
  --color-text-h2: #FF0070;
  --color-h1: #DB00FF;
  --accent-color: #FF0070;
  --color-outline-transparent: rgb(255, 0, 112, 0.4);
}